.gitignore for java
*.class

#OSX
*.DS_Store

# Package Files #
*.jar
*.war
*.ear
**/target/
**/$HOME/

# logs
/stacktrace.log
/test/reports
/logs
*.log
*.log.*

## .gitignore for intellij
*.iml
*.ipr
*.iws
.idea/

## .gitignore for eclipse
*.pydevproject
.project
.metadata
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

/.project
